body {
    background: url("/static/images/corgi26.JPG") repeat center;
    background-size:auto;
    /* background: rgb(178, 204, 178); */
    text-align: center;
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;

}

#dog-fact{
    margin-top:40px;
    margin-bottom: 0%;
    font-size: 20px;
    font-family:"Poppins", sans-serif;
    font-weight:430;
    color: black;
}

.card {
    background: rgb(247, 248, 246);
    border-radius: 6px;
    display: inline-block;
    height: 2.5px;
    width: 500px;
    margin-top: 80px;
    margin-bottom: 100px;
    box-shadow: 0 12px 13px rgba(0, 0, 0, 0.16), 0;
    border-top-width: 3px;
    border-color: rgb(200, 205, 207);
}

.image {
    border-radius: 100px;
    margin-top: 40px;
    width: 158px;
    height: 158px;

}

.name {
    margin-top: 25px;
    color: black;
    font-weight:500;
}


.dog_desc {
    color: black;
    font-size: 18px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight:399;
}

.btn-msg {
    outline: none;
    background:#18681a;
    margin-top: 20px;
    border: none;
    height: 45px;
    width: 150px;
    color:white;
    font-size: 16px;
    border-radius: 30px;
}

.btn-msg:hover {
    color: rgb(253, 255, 253);
    background: rgb(88, 135, 49);
    transition: all 300ms linear;
    cursor: pointer;
}



.navbar-light .navbar-brand {
    color: #18681a;
    font-weight: 450;
}

.navbar-light .navbar-brand:hover {
    color: rgb(88, 135, 49);
}

.dropdown-item {
    font-weight: 400;
    letter-spacing: 1px;
}

.form-control {
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-outline-success {
    color: #18681a;
  }