body {
    background: url("/static/images/corgi2.jpg") repeat;
    background-size:cover;
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
  }

  h1{
    font-weight: 399;
    font-size: 40;
}

  /* button {
    width: 75px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  } */
  
  #header {
    padding: 10px;
    color: #18681a;
    font-size: 26px;
    font-family:"Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
  }
  /* #header button {
    background-color:#92a1d1;
  } */
  #calendar-container {
    margin-right:0px ;
    width: 871px;
    margin-top: 50px;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: #0e160f;
  }
  #weekdays div {
    width: 115px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #b0d3bc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .day:hover{
    background: rgb(240, 250, 233);
  }

  
  .day + #currentDay {
    background-color:#74b18c;
  }

  .padding {
    cursor: default !important;
    background-color:#ebebeb;
    box-shadow: none !important;
  }

  .eventDay {
    background-color:#a9e6c4;
  }

  .margin {
      margin-right: 0%;
  }

  .event {
      width: 300px;
      margin-top: 20px;
      text-align: center;
  }


  #event-form{
    width: 300px;
    margin-top: 71px;
    text-align: center;
    height: 308px;
    background: rgba(33, 161, 72, 0.21);
    border-radius: 14px;
    padding-top: 20px;
  }

  #waiting{
    margin-left: 600px;
    text-align: center;
  }

  .col-1 {
    text-align: left;
  }

  .navbar-light .navbar-brand {
    color: #18681a;
    font-weight: 450;
}

.navbar-light .navbar-brand:hover {
    color: rgb(88, 135, 49);
}

.dropdown-item {
    font-weight: 400;
    letter-spacing: 1px;
    width: 110%;
}

.form-control {
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-outline-success {
    color: #18681a;
  }

  h1{
    font-weight: 399;
    font-size: 40;
    text-align: center;
}

#event-details {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
  color:black
}

button{
  outline: none;
  background:#18681a;
  margin-top: 20px;
  border: none;
  height: 45px;
  width: 80px;
  color:white;
  font-size: 16px;
  border-radius: 30px;
  letter-spacing: 1px;
}

button:hover {
  color: rgb(253, 255, 253);
  background: rgb(88, 135, 49);
  transition: all 300ms linear;
  cursor: pointer;
}

.flash-msg {
  text-align: center;
}