body{
        background: url("/static/images/homepage4.jpg") no-repeat center;
        background-size:cover;
        height: 870px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        color: rgb(7, 68, 7);
        margin:0%;
        margin-top: 50px;
        margin-bottom: 0px;
        padding: 0%;
      }

.flash-msg {
    margin-top: 0px;
    margin-bottom: 0px;
  }

.login-form {
    text-align: center;
    top: 50%;
    color: black;
    width: 400px;
    height: 100px;
    padding: 80px 0px;
    background: rgba(180, 206, 178, 0.61);
    border: 20px;
    padding-top: 15px;
    padding-bottom: 200px;
    margin-left: 20px;
    margin-top: 150px;
    border-radius: 30px;
}

.main-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 0px;

}


.login-button {
        background-color: #18681a; /* Green */
        border: none;
        color: white;
        padding: 0px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
}

.registration {
        text-align: center;
        top: 50%;
        color: black;
        width: 400px;
        height: 300px;
        padding: 80px 0px;
        background: rgba(180, 206, 178, 0.61);
        border: 20px;
        padding-top: 30px;
        padding-bottom: 200px;
        margin-left: 20px;
        border-radius: 30px;
        margin-top: 115px;

}