body {
    background: url("/static/images/corgi20.jpg") repeat;
    background-size:cover;
    /* background: rgb(178, 204, 178); */
    text-align:center;
    font-family:"Poppins", sans-serif;
    letter-spacing: 1px;
    font-weight: 400px;
}

.message {
    margin-top: 50px;
}

#msg-form {
    margin-top: 10px;
}

.navbar-light .navbar-brand {
    color: #18681a;
    font-weight: 450;
}

.navbar-light .navbar-brand:hover {
    color: rgb(88, 135, 49);
}

.dropdown-item {
    font-weight: 400;
    letter-spacing: 1px;
    width: 110%;
}

.form-control {
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-outline-success {
    color: #18681a;
  }
  
.button{
    outline: none;
    background:#18681a;
    margin-top: 20px;
    border: none;
    height: 45px;
    width: 150px;
    color:white;
    font-size: 16px;
    border-radius: 30px;
}
.button:hover {
    color: rgb(253, 255, 253);
    background: rgb(88, 135, 49);
    transition: all 300ms linear;
    cursor: pointer;
}

#msg-form{
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  p {
      font-weight: 390;

  }