{% extends 'base.html' %}
{% block title %}Dog Profiles{% endblock %}

{% block body %}
<i><div id="dog-fact"  class="center">Welcome to MySocialDog!</div></i>
<br>
<h3>List of friends: </h3>
    {% for user in users %}
        {% if user.user_id != user_id  %}
  
        <h4>{{user.fullname}}</h4> 
            <img src="{{user.profile_photo}}" width="150" height="150">
                
            {% if not user.dogs %}
                <br>
                {{user.fullname}} doesn't have dogs yet!
                <br>
                {% endif %}
                

                {% for user in user.dogs %}
                        
                    {% if 1  > user.dog_age %}
                        <br>
                        {{user.user.fullname}} is the owner of {{user.dog_name}}!
                        <br>
                        {{user.dog_name}} is less than a year!
                        <br>
                        And this pup is a {{user.dog_size}} {{user.dog_breed}}
                        <br>

                    {% else %}
                        <br>
                            {{user.user.fullname}} is the owner of {{user.dog_name}}!
                        <br>  
                            {{user.dog_name}} is {{user.dog_age}} years old
                        <br>
                            And this pup is a {{user.dog_size}} {{user.dog_breed}}
                        <br>

                    {% endif %}
                   

             {% endfor %}
            <br>
            <form action="/write_message" >     
            <input type="hidden"  name="user_id" value={{user.user_id}}>
                <button type="submit" >Send Message</button>
            </form>
            <br>
        {% endif %}

    {% endfor %}
    <script src="/static/js/dogFact.js"></script>
    
{% endblock %}
