<!doctype html>
<html>
  <head> 
    <title>
        Event Calendar
    </title>
    <link rel="stylesheet" href="/static/css/calendar.css">
  </head>
<body>
<div id="container">
    <div id="header">

    <div id="monthDisplay"></div>

    <div>
        <button id="backButton">Back</button>
        <button id="nextButton">Next</button>
    </div>
</div>
  
    <div id="weekdays">
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>

    </div>
    <div id="calendar"></div>
</div>


<script src="/static/js/calendar.js"></script>
</body>


