<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      MySocialDog
    </title>

<body>
<h1>My Social Dog</h1>


<h2>Log In</h2>
  <form action="/login" method="POST">
      <p>
        Email <input type="text" name="email" placeholder="email">
      </p>

      <p>
        Password <input type="password" name="password" placeholder="password">
      </p>

      <p>
      <input type="submit">
      </p>
  </form>

<h2>Create an Account</h2>
  <form action="/new_users" method="POST">
    <p>
      Fullname <input type="text" name="fullname">
    </p>

    <p>
      Email <input type="text" name="email" placeholder="email">
    </p>

    <p>
      Password <input type="password" name="password" placeholder="password">
    </p>

    <p>
      Address <input type="text" name="address">
    </p>

<h2>Dog Information:</h2>

    <p>
        Dog name <input type="text" name="dog_name">
    </p>

    <p>
        Dog Age (In years)
         <select name="dog_age">
              <option value=0>Less than 1</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
              <option value=6>6</option>
              <option value=7>7</option>
              <option value=8>8</option>
              <option value=9>9</option>
              <option value=10>10</option>
              <option value=11>11</option>
              <option value=12>12</option>
              <option value=13>13</option>
              <option value=14>14</option>
              <option value=15>15</option>
              <option value=16>More than 15</option>
          </select> 

    </p>

    <p>
        Dog Size 
        <select name="dog_size">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
          </select> 
    </p>

    <p>
        Dog Breed <input type="text" name="dog_breed">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

</body>
</html>


