<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      MySocialDog
    </title>
    <link rel="stylesheet" href="/static/css/homepage.css">
    
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
  {% endfor %}

  <i><h1 class="main-title">MySocialDog</i></h1></i>
  </head>
<body>

<div class= "login-form">

    <h2>Log In</h2>

  <form  action="/login" method="POST">
      <p>
        Email <input type="text" name="email" placeholder="email">
      </p>

      <p>
        Password <input type="password" name="password" placeholder="password">
      </p>

      <p>
      <input class="login-button" type="submit" value="Log In">
      </p>
  </form>

<a id="registration" href="/registration">Register</a>

</body>
</html>


