{% extends 'base.html' %}
{% block title %}Your Messages!{% endblock %}

{% block body %}
<h1>Sent Messages</h1>
<ul> 
{% for message in messages_sent %}
      
     <li>  
         <h2>To: {{message.receiver.fullname}}  -   Date:{{message.message_date}}</h2> 
            <li>  
                {{message.message_body}}
            </li>
     </li>
{% endfor %}
</ul>  

<h1>Received Messages</h1>
<ul> 
{% for message in messages_received %}
     {% if message.receiver_id == user_id %}
     <li>  
         <h2>From: {{message.sender.fullname}}  -  Date:{{message.message_date}}</h2>
            <li>  
                {{message.message_body}}
            </li>
        </li>
        {% endif %}
   {% endfor %}

</ul>   
<form action="/all_profiles">

    <button type="submit"> Homepage </button>

</form>
{% endblock %}